.card-title {
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 200ms linear;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 900;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.055);
  }
}
